@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient( 45deg,#F6F7F1, #DCD8CF );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(134, 124, 97, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1E3D59;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(24, 47, 68, 0.692);
}


h2{
    color: #1469AE;
}


p {
    text-align: justify;
    color: #2F2F2F;
}